@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
@import "reset.css";
@import "variables.css";

/*screens */
@import "screens/home.css";
@import "screens/hope.css";
@import "screens/profile.css";
@import "screens/missions.css";
@import "screens/book/book-main.css";
@import "screens/book/book-intro.css";
@import "screens/mission-board.css";
@import "screens/mission-board-form.css";
@import "screens/mission-board-quiz-form1.css";
@import "screens/shelf.css";
@import "screens/upload-page.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/js-controls.css";
@import "components/mission-form.css";
@import "components/creation-btn.css";
@import "components/not-implemented.css";
@import "components/notice-page.css";

* {
  font-family: "Poor Story", cursive;
}

body {
  background-color: var(--main-color);
}

#book1-quiz-img {
  margin-bottom: 0;
  width: 200px;
}
