.home-title {
  margin-bottom: 30px;
  padding-top: 60px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #b78e0f;
  font-family: "Poor Story", cursive;
}

.home-imgs {
  background-color: #f1f1f0;
  padding: 20px 30px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: auto;
  white-space: nowrap;
}

.home-img {
  width: 160px;
  height: 120px;
}

.home-img:nth-child(2) {
  margin: 0 30px;
}

.home-btns {
  margin: 40px 0 80px 0;
  padding: 0 40px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-btn {
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-btn:first-child {
  background-color: #fbd6e0;
}

.home-btn:nth-child(2) {
  background-color: #ffeeff;
}

.home-btn:first-child:active,
.home-btn:nth-child(2):active {
  transform: scale(0.95);
}

.home-btn:last-child {
  background-color: #e4c9cf;
}
