.mission-board__main {
  padding: 130px 0 90px 0;
  margin: 0px 20px;
  height: auto;
}

.mission-board__title {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  cursor: pointer;
}

.mission-board__title--text {
  font-weight: bold;
}

.mission-board__missions {
  margin-top: 20px;
  display: grid;
  gap: 1rem;
}

@media screen and (max-width: 410px) {
  .mission-board__missions {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 410px) {
  .mission-board__missions {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mission-board__mission {
  background-color: rgb(211, 189, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 20px;
  font-weight: bold;
}

.mission-board__mission span:first-child {
  margin-bottom: 5px;
}

.mission-board__missions:nth-child(2) .mission-board__mission {
  background-color: rgb(255, 167, 135);
}

.mission-board__missions:last-child .mission-board__mission {
  background-color: aliceblue;
}

.division {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
