.book-main {
  padding-top: 135px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-main > section {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.book-main > section > img {
  width: 50%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.book-main > section > img:hover {
  cursor: pointer;
}

.book-main__missions {
  width: 100%;
}

.book-main__missions h2 {
  padding: 15px 20px;
  font-size: 20px;
}

.book-main__missions .book-main__row-scroll {
  background-color: #f1f1f0;
  padding: 25px 35px;
  margin-bottom: 35px;
  overflow: auto;
  white-space: nowrap;
}

.book-main__missions .book-main__row-scroll .book-main__mission {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.book-main__missions .book-main__row-scroll .book-main__mission img {
  width: 200px;
  height: 200px;
}

.book-main footer h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.book-main footer div {
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #fff3cc;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book-main footer div i {
  color: #ff5e95;
  margin-left: 10px;
}
